<h1><center>Laboratorio N° 03: Utilizando Funciones de Agregación, Offset y Window Ranking

<h2>Ejercicio 01. Escribir consultas que utilizan funciones de ranking

1.1. Abrir la base de datos TSQL.

In [ ]:
USE TSQL;
GO

1.2. Escribir una sentencia SELECT statement traer las columnas orderid, orderdate y val columns en adición a la columna calculata llamada rowno desde la vista Sales.OrderValues. Usar la función ROW_NUMBER para devolver rowno. Ordenar el número de las filas por la columna orderdate.

1.3. Copiar la sentencia previa T-SQL y modificarlo para incluir una columna adicional llamada rankno.
Para crear rankno, utilizar la función RANK, con el ranking orden basado en la columna orderdate.

1.4. Escribir la sentencia SELECT para devolver las columnas orderid, orderdate, custid y val, asi como también como una columna calculada llamada orderrankno desde la vista the Sales.OrderValues. La columna orderrankno deberia mostrar el ranking por cada cliente independientemente, basada en la columna val ordernando de forma descendente.

1.5. Escribir una sentencia SELECT para traer la columnas custid y val de la vista Sales.OrderValues.
Adicionar dos columnas calculadas:
<li>orderyear como un año de la columna orderdate.
<li>orderrankno como un ranking, particionado por el cliente y el año de orden y ordenado por el valor de orden de forma descendente.

1.6. Copiar la consulta la consulta previa y modificarla para filtrar solo las ordenes con los primeros dos rankings basado en la columna orderrankno.

<h2>Parte 02. Escribir consultas que usan funciones Offset

2.1. Definir un CTE llamado OrderRows basado en una consulta que devuelva las columnas orderid, orderdate y val de la vista Sales.OrderValues. Añadir una columna calculada llamada rowno utilizando la función ROW_NUMBER, ordenando por las columnas orderdate y orderid. Escribir una sentencia SELECT contra el CTE y utilizar la clasula LEFT JOIN con el mismo CTE para traer la fila actual y la previaa basada en la columna rowno. Devolver las columnas orderid, orderdate y  val para la fila actual y la columna val de la fila previa nombrarla prevval. Adicionar una columna calculada llamada diffprev para mostrar la diferencia entre el valor de la columna val actual y el valor previo.

2.2. Escribir una sentencia SELECT que utilice la función LAG para alcanzar el mismo resultado de la consulta en la actividad anterior. Las consulta no debe utilizar un CTE.

2.3. Definir un CTE llaamdo SalesMonth2007 que cree dos columnas: monthno (el numero de mes de la columna orderdate) y val (columna agrupada val). Filtrar los resultados para incluir solo el año de ordenes 2007 y agrupar por monthno. Escribir una sentencia SELECT para traer las columnas monthno y val. Adicionar dos columnas calculadas:
<li><b>avglast3months.</b> Esta columna deberia contener el promedio del monto de ventas  para los ultimos tres meses despues del mes actual, utilizando una función window aggregate. Se puede asumir que no hay meses nulos.
<li><b>ytdval.</b> Esta columna deberia contener el valor de ventas acumulativo creciente para el mes actual.

<h2>Parte 03. Escribir consultas que utilizan Funciones de agregación de ventanas

3.1. Escribir una sentencia SELECT para traer las columnas custid, orderid, orderdate y val de la vista
Sales.OrderValues. Adicionar una columna calculada llamada percoftotalcust conteniendo un valor porcentual de cada monto de ordenes de venta coomparado al monto total de ventas para cada cliente.

In [ ]:
SELECT CatID, CatName, ProdName, UnitPrice,
	RANK() OVER(PARTITION BY CatID ORDER BY UnitPrice DESC) AS PriceRank,
	DENSE_RANK() OVER(PARTITION BY CatID ORDER BY UnitPrice DESC) AS DensePriceRank
FROM Production.CategorizedProducts
ORDER BY CatID;

3.2. Copiar la sentencia SELECT previa statement and modify it by adding a new calculated column named runval.
This column should contain a running sales total for each customer based on order date, using
orderid as the tiebreaker.

In [ ]:
SELECT CatID, CatName, ProdName, UnitPrice,
	ROW_NUMBER() OVER(PARTITION BY CatID ORDER BY UnitPrice DESC) AS RowNumber
FROM Production.CategorizedProducts
ORDER BY CatID;

3.3. Copiar el CTE SalesMonth2007 en la tarea final en el ejercicio 2. Escribir una sentencia SELECT statement para traer las columnas
monthno y val. Adicionar dos columnas calculadas:
<li> <b>avglast3months.</b> Esta columna deberia contener el promedio del monto de ventas  para los ultimos tres meses despues del mes actual, utilizando una función window aggregate. Se puede asumir que no hay meses nulos.
<li><b>ytdval.</b> Esta columna deberia contener el valor de ventas acumulativo creciente para el mes actual.