<H1><center>LABORATORIO N° 01: UTILIZANDO EXPRESIONES DE TABLA

<h2><b>Objetivo:</b></h2>
* Aplicar los conocimientos asimilados sobre Expresiones de tabla regulares

1. <b><u>Utilizando Vistas</u></b>

1.1. Accediendo a la base de datos TSQL

In [ ]:
USE TSQL;
GO

1.2. Escribir una sentencia SELECT para devolver las columnas productid, productname, supplierid, unitprice y
discontinued de la tabla Production.Products. Filtrar los resultados para incluir solo los productos que pertenezcana a la categoría Beverages (categoryid = 1)

1.3. Modificar al sentencia T-SQL para incluir el siguiente código. Colocar esta sentencia antes de la clausula SELECT:

In [ ]:
CREATE VIEW Production.ProductsBeverages AS

1.4. Escribir una sentencia SELECT para devolver las columnas productid y productname de la vista Production.ProductsBeverages. Filtrar los resultados para incluir solo productos donde supplierid = 1

1.5. El departamento de TI ha escrito una sentencia T-SQL que añade una columna calculada a la vista.

In [ ]:
ALTER VIEW Production.ProductsBeverages AS
SELECT
productid, productname, supplierid, unitprice, discontinued,
CASE WHEN unitprice > 100. THEN N'high' ELSE N'normal' END
FROM Production.Products
WHERE categoryid = 1;

1.6. Aplicar los cambios necesario para que la sentencia T-SQL statement se ejecute correctamente.

2. <b><u>Utilizando utilizando Tablas Derivadas</u></b>

2.1. Escribir una sentencia SELECT contra una tabla derivada y retornar las columnas productid y productname. Filtrar los resultados para incluir solo las filas en las cuales el valor de la columna pricetype es igual a high. Usar la sentencia SELECT del ejericio 1, paso 4, como la la consulta inner que define la tabla derivada. No olvidar usar el alias para la tabla derivada. (Ypuede usar el alias “p”.)

2.2. Escribir una sentencia SELECT para devolver la columna custid y dos columnas calculadas:
totalsalesamount, la cual retornará el total de ventas por cliente y avgsalesamount, la cual devolvera el monto promedio de ventas de las ordenes por cliente. Para calcular correctamente el monto promedio de ventas de las ordenes por cliente, primero debera calcular el monto total de ventas por orden. Se puede definir una tabla derivada basado en una consulta que enlace las tablas Sales.Orders y Sales.OrderDetails. Usar las columnas custid y orderid de la tabla Sales.Orders y las columnas qty y unitprice de la tabla  Sales.OrderDetails.

3. <b><u>Utilizando Expresions Comunes de Tabla</u></b>

3.1. Escribir una sentencia SELECT como la del ejercicio 2.1, pero utilizar un CTE en vez de una tabla derivada.
Utilizar un alias de columna en linea en la consulta CTE y nombrar al CTE como ProductBeverages.

3.2. Escribir una consulta SELECT contra la tabla Sales.OrderValues para traer cada customer’s ID y el monto total de ventaspara el año 2008. Definir un CTE llamado c2008 basado en esta consulta, utilizando la forma de alias externapara nombrar las columnas del CTE como custid y salesamt2008. Enlazar la tabla Sales.Customers y el CTE c2008, devolviendo las columnas custid y contactname de la tabla Sales.Customers y la columna 
salesamt2008 desde el CTE c2008.

4. <b><u>Utilizando Funciones de Tabla en línea</b></u>

4.1. Escribir una sentencia SELECT contra la vista Sales.OrderValues y traer la las columnas custid y totalsalesamount como un total de la columna val. Filtrar los resultados para incluir las ordenes solo del año 2007.

4.2. Definir una función de valores de tabla (TVF) en linea utilizando el siguiente encabezado de función y añadir la consulta previa despues de la clausula RETURN:
Modificar la consulta constante año valor 2007 en la clausula WHERE con el parametro @orderyear.

In [ ]:
CREATE FUNCTION dbo.fnGetSalesByCustomer
(@orderyear AS INT) RETURNS TABLE
AS
RETURN

4.3. Escribir una sentencia SELECT que devuelva el top 3 de los productos vendidos basado en el valor de total de ventas para el cliente con el ID 1. Devolver las columnas productid y productname de la tabla Production.Products. Utilizar las columnas qty y unitprice de la tabla Sales.OrderDetails para calcular el valor de cada linea de la orden, y devolver la suma de todos los valores por producto, nombrando la columna resultante totalsalesamount. Filtrar los resultados para incluir solo las filas donde el valor de la columna custid es igual a 1.

4.4. Crear una funncion (TVF) basada en el siguiente encabezado, utilizando la sentencia  SELECT previa. Reemplazar la constante custid valor 1 en la consulta con el parametro de la funcion @custid:

In [ ]:
CREATE FUNCTION dbo.fnGetTop3ProductsForCustomer
(@custid AS INT) RETURNS TABLE
AS
RETURN

4.5. Probar la función SELECT creada escribiendo  una sentencia con esta y utilizar el valor para el parametro customer ID. Traer las columnas productid, productname y totalsalesamount, y utilizar el alias “p” para la función TVF.

4.6. Escribir el código necesario para limpiar todos los cambios realizados